DEBUG=True
DJANGO_SECRET_KEY=dev-siger-maison-galaxy-change-in-production
ALLOWED_HOSTS=localhost,127.0.0.1,backend
POSTGRES_HOST=localhost
POSTGRES_DB=siger
POSTGRES_USER=siger
POSTGRES_PASSWORD=siger
POSTGRES_PORT=5432
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL=recrutement@maisongalaxy.cd
AFRICASTALKING_USERNAME=sandbox
AFRICASTALKING_API_KEY=
AFRICASTALKING_SENDER=SIGER
